*{
	margin: 0;
	padding: 0;
}
header, footer{
	background-color: darkred;
	color: white;
	clear: both;
	text-align: center;
	padding: 10px;
}
h1{
	font-family: 'Sonsie One', cursive;
}

nav .btn{
	background-color: darkred;
	color: white;
}
a:link{
	font-size: 16px;
}
a:hover{
	font-weight: bold;
}
a:visited{
	color: orange;
}
a:active{
	text-decoration: none;
}
a{
	margin: 10px;
}
section{
	background-color: lightgrey;
}
@media screen and (max-width: 800px){
	.homep {
		padding: 0 !important ;
	}}